/* css styles */
.mermaidContent {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    background-color: #ebedf1;
    border-radius: 10px 10px 10px 10px;
}